#users-table {
	.input-group-btn {
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.react-bs-table-search-clear-btn {
		background: linear-gradient(13deg, #ff000000 0%, #ff00002f 50%, #ff0000b7 50%, #ff0000 100%);
		background-size: 200% auto;
		transition: background-position 0.5s;
		margin-top: 1px;
		box-shadow: none !important;
		border-left: 1px solid red;
		border-right: 1px solid red;
		transition: border-bottom 0.9s;
		transition: background-position 0.9s;

		&:hover {
			background-position: -300% 0;
			margin-top: 0px;
			border-top: 1px solid red;
			border-bottom: 1px solid red;
		}
	}

	tr>td:hover {
		overflow: visible;
		white-space: unset;
		background-color: rgba(0, 0, 0, 0.2);
	}
}


// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ DELETE USER BUTTON $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$color_1: #e53471;
$color_2: #ff0000;
$color_3: rgb(81, 255, 0);

#remove-user-btn {
	.fa-check {
		color: $color_3;
		cursor: pointer;
		margin-right: -28px;

		&:hover {
			opacity: 0.7;
		}
	}

	.fa-trash {
		color: $color_2;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	.fa-close {
		color: $color_2;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}
}