#add-new-pc{
    position: absolute;
    left: 476px;
    top: 116px;
}

.btn-group-sm>.btn i {
    font-size: 15px;
}

.modal-content{
    background-color: #252c43 !important;
}

#multiselectContainerReact{
    background-color: white !important;
}

#cancel-add-new-pc-btn {
    background: linear-gradient(13deg, #ff000000 0%, #ff00002f 48%, #ff0000b7 50%, #ff0000 100%);
    background-size: 200% auto;
    transition: background-position 0.5s;

    box-shadow: none !important;
    border-left: 1px solid red;
    border-right: 1px solid red;
    transition: border-bottom 0.9s;
    transition: background-position 0.9s;
}

#cancel-add-new-pc-btn:hover {
    background-position: -300% 0;
}

#add-new-pc-btn {
    background: linear-gradient(13deg, #ff000000 0%, #ff00002f 48%, #00ff00b7 50%, #09ff00 100%);
    background-size: 200% auto;
    transition: background-position 0.5s;

    box-shadow: none !important;
    border-left: 1px solid green;
    border-right: 1px solid green;
    transition: border-bottom 0.9s;
    transition: background-position 0.9s;
}

#add-new-pc-btn:hover {
    background-position: -300% 0;
}

#modal-add-new label, h5{
    color: white !important;
}

#new-input-form-btn, #close-input-form-btn{
    margin-top: 31px;
    margin-left: -40px;
}

#new-input-form-btn button, #close-input-form-btn button{
    background-color: white;
    color: #252c43;
    box-shadow: none;
    height: 38px;
}

#new-input-form-btn button:hover{
    background-color: #657fd3;
    color: white;
}

#close-input-form-btn button:hover{
    background-color: #ff0000;
    color: white;
}