#add-new-pc{
    position: absolute;
    left: 476px;
    top: 116px;
    
}

/* #add-new-pc .react-bs-table-csv-btn{
    background-color: red;
} */

/* #add-new-pc .fa::before{
    font-size: 15px;
} */

.btn-group-sm>.btn i {
    font-size: 15px;
}

.modal-content ul, .dark-version .form-control{
    color: rgb(0, 0, 0) !important;
}
.modal-content{
    background-color: #252c43 !important;
}
/* #add-new-pc > input[type="text"]{
    color: blue !important;
} */