$blue: #3498db;
$red: #e74c3c;

.settings-page {
    .settings-container {
        width: 100%;
        max-width: 850px;
        margin: auto;
        padding: 20px;
        padding-top: 40px;
    }

    .form-control{
        padding: 9px 0.75rem !important;
    }
}

.save-btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 0.6em;
    color: $red;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 12px;
    padding: 10px 38px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;


    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px #1f3f7a61 inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    }

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
}