$blue: #3498db;
$red: #e74c3c;

.page-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}

.settings-page {
    width: 100%;
    min-height: 90vh;

    .settings-container {
        width: 100%;
        max-width: 850px;
        margin: auto;
        padding: 20px;
        padding-top: 40px;

        .settings-title {
            color: #454545;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20px;
        }

        .settings-section {
            width: 100%;
            border-top: 2px solid #454545;
            padding-top: 10px;
            margin-bottom: 20px;

            .my-form {
                max-width: 400px;
                width: 100%;
                margin: 30px auto;

                .form-submit.right {
                    justify-content: flex-end;
                }

                .form-submit {
                    display: flex;

                    .btn {
                        width: 50%;
                    }
                }

                .form-group.editable .input-group {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .form-control {
                        margin-bottom: 0;
                    }

                    .btn {
                        height: 38px;
                        margin: 0 10px;
                        background-color: #E59500;
                        transition: all .5s;

                        &:hover {
                            color: #E59500;
                            background-color: #E5DADA;
                        }
                    }

                    i {
                        cursor: pointer;
                        color: #454545;
                        transition: all .5s;

                        &:hover {
                            color: #E59500;
                        }
                    }
                }
            }

            .non-active-form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                p {
                    padding: 7px 15px;
                    margin-bottom: 0;
                    font-size: 1rem;
                    cursor: default;
                }

                i {
                    cursor: pointer;
                    color: #454545;
                    transition: all .5s;
                    margin-right: 10px;

                    &:hover {
                        color: #E59500;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.my-form {
    visibility: visible;

    .form-group {
        .input-group {
            border-radius: 0.25rem;
            overflow: hidden;

            input.form-control {
                margin-bottom: 10px;
                border: none;
                padding: 10px 15px;
                background-color: #2e2e2e;
                color: #E5DADA;
                font-family: 'Fira Sans', sans-serif;
            }
        }

        .alert-input {
            color: #E59500;
            font-weight: 100;
            font-size: 13px;
        }
    }

    .form-submit {
        width: 100%;

        .btn {
            width: 100%;
            border-radius: 0.25rem;
            background-color: grey;
            color: #E5DADA;
            cursor: default;

            &:disabled {
                opacity: 0.75;
            }

            &:not(:disabled):not(.disabled) {
                background-color: #E59500;
            }
        }
    }
}




// Basic Button Style
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 0.6em;
    color: $red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
}

//BUTTON 3
.save-btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 0.6em;
    color: $red;
    cursor: pointer;
    display: flex;
    // align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 12px;
    padding: 15px 76px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;


    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px #1f3f7a61 inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    }

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
}