.pagination {
    margin-top: 0px !important;
    float: right !important;
}

.page-link,
#pageDropDown {
    background-color: #e53270 !important;
    color: white !important;
}

.pagination .active .page-link {
    background-color: #ffffff8c !important;
}

.sort-column {
    cursor: pointer;
}

#computer-table tr>td:hover {
    overflow: visible;
    white-space: unset;
    background-color: rgba(0, 0, 0, 0.2);
}

.light-input-search {
    background-color: #ffffff !important;
    color: #000000 !important;
    height: 47px !important;
    font-size: 18px !important;
}

.dark-input-search {
    background-color: rgb(26 31 53) !important;
    color: #ffffff !important;
    height: 47px !important;
    font-size: 18px !important;
}

#computer-table .input-group-btn {
    position: absolute;
    right: 4px;
    top: 4px;
}

#computer-table .react-bs-table-search-clear-btn {
    background: linear-gradient(13deg, #ff000000 0%, #ff00002f 50%, #ff0000b7 50%, #ff0000 100%);
    background-size: 200% auto;
    transition: background-position 0.5s;

    margin-top: 1px;
    // background-color: transparent !important;
    box-shadow: none !important;
    border-left: 1px solid red;
    border-right: 1px solid red;
    transition: border-bottom 0.9s;
    transition: background-position 0.9s;
}

#computer-table .react-bs-table-search-clear-btn:hover {
    background-position: -300% 0;
    /* Shift background position to the left */
    margin-top: 0px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

/* DOWNLOAD COMPUTERS LIST AND ADD NEW COMPUTER BUTTONS */
.download-btn, .add-btn {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 6px 14px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif !important;
    border-radius: 6px !important;
    border: none !important;
  
    background: #3c3c43 !important;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12) !important;
    color: #DFDEDF !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    // z-index: 9999 !important;
    z-index: 150 !important;
    position: relative;
  }
  
//   .download-btn{
//     margin-bottom: -47px !important;
//   }
  
//   .add-btn:hover, .download-btn:hover {
//     box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px #2e354f !important;
//     outline: 0 !important;
//   }