.pagination {
    margin-top: 0px !important;
    float: right !important;
}

.page-link,
#pageDropDown {
    background-color: #e53270 !important;
    color: white !important;
}

.pagination .active .page-link {
    background-color: #46061c8c !important;
}

.sort-column {
    cursor: pointer;
}

table {
    table-layout: fixed !important;
    tr,
    th {
        overflow: hidden !important;
        white-space: nowrap !important;
        -moz-text-overflow: ellipsis !important;
        -ms-text-overflow: ellipsis !important;
        -o-text-overflow: ellipsis !important;
        text-overflow: ellipsis !important;
    }
}