.pagination{
    margin-top: 0px !important;
    float: right !important;
}

.page-link, #pageDropDown{
    background-color: #e53270 !important;
    color: white !important;
}

.pagination .active .page-link {
    background-color: #46061c8c !important;
}

.sort-column{
    cursor: pointer;
}

// #computer-table td{
//     white-space: normal;
//     word-wrap: break-word;
// }

// #computer-table table{
//     table-layout: fixed;
//     td, th{
//       overflow: hidden;
//       white-space: nowrap;
//       -moz-text-overflow: ellipsis;        
//          -ms-text-overflow: ellipsis;
//           -o-text-overflow: ellipsis;
//              text-overflow: ellipsis;
//     }
//   }