.pagination {
    margin-top: 0px !important;
    float: right !important;
}

.page-link,
#pageDropDown {
    background-color: #e53270 !important;
    color: white !important;
}

.pagination .active .page-link {
    background-color: #46061c8c !important;
}

.sort-column {
    cursor: pointer;
}

#computer-table tr > td:hover {
    overflow: visible;
    white-space: unset;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}

#computer-table .form-control{
    background-color: #293049 !important;
    color: white !important;
    height: 47px;
}

#computer-table .input-group-btn{
    position: absolute;
    right: 4px;
    top: 4px;
}

#computer-table .react-bs-table-search-clear-btn{
    margin-top: 1px;
    background-color: transparent !important;
    box-shadow: none !important;
    border-left: 1px solid red;
    border-right: 1px solid red;
    transition: border-bottom 0.9s;
}

#computer-table .react-bs-table-search-clear-btn:hover{
    margin-top: 0px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}