.fixed-navbar {
    background-color: #4141493d;
    position: fixed !important;
    top: 0 !important;
    width: -webkit-fill-available !important;
}

.top-right-nav-btn {
    color: #e4316f !important;
}





/* $$$$$$$$$$$$$$$$$$$$$$$$$$$ AVATAR STYLING $$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.avatar-image {
    background: #eee !important;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144644/profile/profile-80.jpg') !important;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.open.avatar-dropdown-menu-items {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: scale(1) translate(0, 0);
}

.avatar-dropdown-menu-items {
    visibility: hidden;
    transition: all .2s;
    transform: scale(.8) translate(20px, -30px);
    opacity: 0;
    position: absolute;
    z-index: 9999;
    right: 0;
    top: calc(100% + 0px);
    padding: 0;
    margin: 0;
    background: #1a2035;
    line-height: 45px;
    padding: 8px 0;
    min-width: 180px;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.avatar-dropdown-menu-items a {
    padding: 0 1rem;
    display: block;
    color: #ffffff;
}

.avatar-dropdown-menu-items a:hover {
    background: #2e354e;
}

.avatar-dropdown-menu-items ul {
    margin: 0;
    padding: 0;
}

.avatar-dropdown-menu-items li {
    display: block;
    margin: 0;
}

.avatar-dropdown-menu-items a {
    cursor: pointer;
}