.fixed-navbar {
    background-color: #4141493d;
    position: fixed !important;
    top: 0 !important;
    width: -webkit-fill-available !important;
}

.top-right-nav-btn {
    color: #e4316f !important;
}